

@import "tailwindcss";

:root {
  --color-header: #0d1b2a;
  --color-background: #1b263b;
  --color-text: #e0e1dd;
  --color-third-bg: #415a77;
  --color-fourth-bg: #778da9;
  --color-hover: white;
  --color-bordercolor: #9f86c0;
  --color-click:"#edede9";
}

.bg-header { background-color: var(--color-header); }
.bg-background { background-color: var(--color-background); }
.bg-third-bg { background-color: var(--color-third-bg); }
.bg-fourth-bg { background-color: var(--color-fourth-bg); }
.bg-hovercolor { background-color: var(--color-hover); }
.bg-bordercolor { background-color: var(--color-bordercolor);}

.text-header { color: var(--color-header); }
.text-background { color: var(--color-background); }
.text-third-bg { color: var(--color-third-bg); }
.text-fourth-bg { color: var(--color-fourth-bg); }
.text-textcolor { color: var(--color-text); }
.text-hovercolor { color: var(--color-hover); }
.text-clicklink{color: var(--color-click);}



